/*Building Normalzing*/
html {
    font-size: 62.5%;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
$aero-blue: #c3ffe7ff;
$magic-mint: #94f3cbff;
$medium-aquamarine: #61e6adff;
$morning-blue: #839ea1ff;
*/
:root {
    --primary: #34C5A3;
    /* --dark-background: #94f3cbff; */
    --primary-varient: #208288;
    --error: red;
    --light-text: #FFF;
    --dark-text: #000;
    --background: #F0F0F0;
    --gray1: #DBDCE1;
    --gray2: #9194A1;
    --grey3: #3D3F48;
    --roboto-font-family: "Roboto Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --source-sans-font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --glide-button-background: #FFF;
    --glide-button-background-alpha: 0.62;
    --lh: 1.6rem;

    --global-whitespace: 1.2rem;
    --global-whitespace-half: 0.6rem;

    /* Breakpoints */
    --phone-breakpoint: 55rem;
    --tablet-desktop-breakpoint 80rem;
    --full-hd-breakpoint: 120rem;

}

/* Body Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    line-height: 2rem;
    font-weight: 400;
    font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
    color: var(--grey3);
}

/* Typography Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
    font-family: "Roboto Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 4.0rem; line-height: 1.2;    letter-spacing: -.1rem;
}
h2 {
    font-family: "Roboto Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem;
}
h3 {
    font-family: "Roboto Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.0rem; line-height: 1.3;    letter-spacing: -.1rem;
}
h4 {
    font-family: "Roboto Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem;
}
h5 {
    font-family: "Roboto Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem; line-height: 1.5;    letter-spacing: -.05rem;
}
h6 {
    font-family: "Roboto Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem; line-height: 1.6;    letter-spacing: 0;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0;
  }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Form Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    border-radius: 0px;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 0;
    background-color: var(--primary);
    color: var(--light-text);
    height:4.2rem;
    font-family: var(--roboto-font-family);
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    background-color: var(--primary-varient);
    border-radius: 0px;
    border-color: #FFF;
    color: var(--light-text);
}

.select-button {
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    border-radius: 0px;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 0;
    background-color: var(--grey3);
    color: var(--light-text);
    height:4.2rem;
    font-family: var(--roboto-font-family);
}

.select-button::after {
    content: " ≡ ";
}

/* Links Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: var(--primary);
    font-family: var(--roboto-font-family);
    text-decoration: none;
}
a:hover {
    color: var(--primary-varient);
    text-decoration: none;
}

/* New Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .container {
    padding-left: var(--global-whitespace);
    padding-right: var(--global-whitespace);
}
.column,
.columns {
  margin-left: var(--global-whitespace); } */
  .container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    /* padding: 0 1rem; */
    box-sizing: border-box; }

.flex-row {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.flex-row > * {
    flex: 1 100%;

}
.one-half {
  flex: 1 0 30rem;
}

.one-half.right {
  /* margin-left: var(--global-whitespace); */
}
/* Drawer
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.drawer-toggle:before {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    content: " ≡ ";
    color: var(--primary);
    /* font-family: sans-serif;
    font-size: 1.5em; */
}
@media screen and (min-width: 650px) {
    .drawer-toggle:not(.persistent) {
        display: none;
    }
}

[type=checkbox].drawer {
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}
[type=checkbox].drawer + * {
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 320px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light-background);
    border: 0.0625rem solid var(--separator);
    border-radius: 0;
    margin: 0;
    z-index: 1110;
    right: -320px;
    transition: right 0.3s;
}
[type=checkbox].drawer + * .drawer-close {
    position: absolute;
    /* top: var(--universal-margin);
    right: var(--universal-margin); */
    z-index: 1111;
    width: 2rem;
    height: 2rem;
    /* border-radius: var(--universal-border-radius); */
    padding: var(--global-whitespace);;
    margin: 0;
    cursor: pointer;
    transition: background 0.3s;
}
[type=checkbox].drawer + * .drawer-close:before {
    display: block;
    content: "×";
    color: var(--drawer-close-color);
    position: relative;
    font-family: sans-serif;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
}
[type=checkbox].drawer + * .drawer-close:hover, [type=checkbox].drawer + * .drawer-close:focus {
    background: var(--drawer-hover-back-color);
}
@media screen and (max-width: 320px) {
    [type=checkbox].drawer + * {
        width: 100%;
    }
}
[type=checkbox].drawer:checked + * {
    right: 0;
}
@media screen and (min-width: 650px) {
    [type=checkbox].drawer:not(.persistent) + * {
        position: static;
        height: 100%;
        z-index: 1100;
    }
    [type=checkbox].drawer:not(.persistent) + * .drawer-close {
        display: none;
    }
}

.header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}

.header-wrapper > * {
    flex: 1 100%;
}

.header {
    background-color: var(--grey3);
}

.nav-wrapper {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}

.nav-menu{
    width: 4.20rem;
    height: 4.20rem;
    flex: 0 1 auto;
    /* background-color: var(--dark-background); */
    color: var(--light-text);
    font-size: 4.2rem;
    line-height: 4.2rem;
}

.nav-link{
    font-size: 1.8rem;
    padding-left: var(--global-whitespace);;
    padding-right: var(--global-whitespace);;
    line-height: 4.2rem;
}

.drawer-toggle{
    margin: 0;
}

.ring-title{
    width: 23.60rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 4.2rem;
    flex: 2 0 21.60rem;
    font-family: var(--roboto-font-family);
    color: var(--light-text);

}

.glide {

}

.glide__slides{
    height:77rem;
}

.glide__slide{
    margin-left: 0;
    border-right: .3rem solid var(--grey3);
}

/* Sweep To Bottom */
.sweep-background {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.sweep-background:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.glide__slide:hover .sweep-background, .glide__slide:focus .sweep-background, .glide__slide:active .sweep-background{
  color: white;
}

.glide__slide:hover .sweep-background:before,  .glide__slide:focus .sweep-background:before, .glide__slide:active .sweep-background:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.glide-slide-top{
    height: 40rem;
    /*  */
    overflow: hidden;
}

.glide-slide-top-title{
    font-family: var(--roboto-font-family);
    font-size: 2.2rem;
    line-height: 3.2rem;
    height: 7.2rem;
    color: var(--dark-text);
}

/* Weird Webkit thing that works in FF and Edge */
.slide-title-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
}

.glide-slide-bottom{

}

.glide__arrows{
    display: none;
}

.glide__arrow{
    /* display: inline-block; */
height: 13.2rem;
padding: 0rem;
width: 3.2rem;
/* padding: 0 30px; */
color: #FFF;
fill: var(--primary);
text-align: center;
/* font-size: 11px; */
/* font-weight: 600; */
line-height: 0rem;
background-color: var(--glide-button-background);
border-radius: 4px;
border: 0px solid #bbb;
box-sizing: border-box;
opacity: var(--glide-button-background-alpha);
position: absolute;
top: 13.5rem;
}

.glide__arrow--next{
    right: 1.6rem;
}

.glide__arrow--prev{
    left: 1.6rem;
}

.glide-slide-bottom-icons{
    padding-left: var(--global-whitespace-half);;
    padding-right: var(--global-whitespace-half);;
    padding-top: var(--global-whitespace-half);
}

.glide-slide-bottom-icon{
    height: 2.4rem;
    width: 2.4rem;
    margin-left: .6rem;
    margin-right: .6rem;
}

.glide-slide-bottom-tags{
    height: 4.8rem;
    color: var(--primary);
    font-family: var(--roboto-font-family);
    font-size: 1.8rem;
    letter-spacing: 0;
    line-height: 2.4rem;
    margin-left: var(--global-whitespace);
    margin-right: var(--global-whitespace);
    margin-top: var(--global-whitespace);
}

.glide-slide-bottom-description{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: var(--global-whitespace-half);
    height:20rem;
}

/* Weird Webkit thing that works in FF and Edge */
.slide-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.comics-filter{
    padding-bottom: 1rem;
}

.comics-filters-title{
    font-family: var(--roboto-font-family);
    font-weight: bold;
    font-size: 2.0rem;
    line-height: 2.6rem;
    color: var(--light-text);
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    background-color: var(--grey3);
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.comics-filters-tags-button{
    text-align: center;
    margin-top: 2rem;
}

.comics-tags-holder{
    text-align: center;
    /* margin-top: 2rem; */
}

.comics-filters-tag-button{
    margin:1rem;
}

.comics-grid-element-group{
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}

.comics-grid-element{
    flex: 1 0 14rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-family: var(--roboto-font-family);
    font-size: 1.4rem;
    line-height:1.9rem;
}

.comics-grid-icon{
    height:1.6rem;
    width:1.6rem;
}

.grid-title-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0.8rem;
  margin-bottom: 2.0rem;
}

.footer{
    background-color: var(--grey3);
    height: 6.3rem;
    color: var(--light-text);
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logo{
    flex: 0 0 10rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: center;
    font-family: var(--roboto-font-family);
}

.disclaimer{
    flex: 0 0 17rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 300;
}

@media all and (min-width: 650px) {
    .header-wrapper{
        justify-content: space-between;
        padding-top: 1rem;
    }
    .nav-wrapper{
        justify-content: space-around;
    }

    .ring-title{
        background-color: var(--dark-background);
        flex: 0 0 0;
        white-space: nowrap;
        padding-right: 1rem;
        padding-left: 1rem;
        order: 2;
    }
    .nav-menu{
        width: 34rem;
        flex: 0 0 0;
        order: 3;
        line-height: inherit;
    }
    .header {
        height: 4.2rem;
        padding-bottom: 1.8rem;
    }

    [type=checkbox].drawer + * {
        display: flex;
        border: 0;
    }

    .glide__arrows{
        display: block;
    }
}

@media all and (min-width: 1025px) {
    .header-wrapper{
        justify-content: space-around;
    }
}

/* @media all and (min-width: 650px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 1025px) {
    .main        { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main        { order: 2; }
    .aside-2 { order: 3; }
    .footer    { order: 4; }
} */


@media (min-width: 1025px) {
    /* .section {
        padding: 20rem 0 19rem;
    }
    .hero {
        padding: 22rem 0;
    }
    .hero-heading {
        font-size: 3.0rem;
    }
    .phone {
        top: -16rem;
        max-height: 615px;
    }
    .phone + .phone {
        top: -14rem;
        max-height: 570px;
    } */
}
